@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/utilities' as u;

.badges-input-wrapper {
	max-width: 100%;
	min-width: 13.75rem;

	.badges-input {
		width: 100%;
		position: relative;

		&__clear-icon {
			cursor: pointer;
			position: absolute;
			top: 8px;
			right: 8px;
			z-index: 10;
		}
	}
}

.badge {
	border-radius: 0.25rem;
	border: 1px solid c.$blue-400;
	background-color: c.$blue-100;
	height: 1.5rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	@include u.px(0.5rem);
	@include u.py(0.125rem);

	overflow: hidden;

	&__title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__suffix {
		cursor: pointer;
	}
}

@media screen and (max-width: 360px) {
	.badges-input-wrapper {
		.input-wrapper {
			flex-direction: column;
			align-items: start;
		}
	}
}