@use '~/shared/styles/colors' as c;
@use '~/shared/styles/mixins/utilities' as u;

.form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: c.$white;
	z-index: 10;

	@include u.py(1.25rem);
	@include u.px(1rem);

	&[data-scrolled='true'] {
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	&__block {
		display: flex;
		align-items: center;

		&.form-header__sub-task-block {
			gap: 1rem;
		}

		&.form-header__submit-controls {
			gap: 0.25rem;
		}
	}

	&__sub-task {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 767px) {
	.form-header {
		&__sub-task-block {
			flex: 1;
			justify-content: space-between;

			.form-header__sub-task {
				color: c.$sub-text;
			}
		}

		&__submit-controls {
			display: none;
		}
	}
}
