@use "sass:color";
@import '~/shared/styles/colors';
@import '~/shared/styles/mixins/utilities';

.btn {
  border: 1px solid transparent;
  text-transform: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-color: transparent;
  @include center();

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &--variant--primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: color.adjust($blue, $lightness: 15%, $space: hsl);
    }
  }

  &--variant--secondary {
    border: 1px solid $gray;
    background-color: $white;
    color: $black;

    &:hover {
      background-color: color.adjust($gray, $lightness: 12%, $space: hsl);
    }
  }

  &--size--default {
    max-height: 2rem;
    @include py(0.375rem);
    @include px(0.75rem);
  }

  &--size--sm {
    max-height: 2rem;
    width: 2rem;
    @include p(6px, 6px);
  }
}