@use '~/shared/styles/mixins/utilities' as u;
@use '~/shared/styles/mixins/typography' as t;
@import url('./reset.scss');

.app {
  width: 100%;
  height: 95vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.gap-4 {
  gap: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.flex {
  @include u.flexbox();
}

.flex-center {
  @include u.center();
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.w-1 {
  width: 1rem;
}

.h-1 {
  height: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}


.h1 {
  @include t.heading(1);
}

.h2 {
  @include t.heading(2);
}

.h3 {
  @include t.heading(3);
}

.p1 {
  @include t.heading(1.125rem);
}

.p2 {
  @include t.heading(1rem);
}

.p3 {
  @include t.heading(0.875rem);
}
